{% extends 'base.html' %} 


{% block content %}

<div class="container">
  <!-- Crop Prediction -->

  <div class="card m-5">
    <div class="card-body">
      <h5 class="card-title">Crop Prediction</h5>
      <hr class="hr hr-blurry" />
      <form action="" method="post" id="formId">
        <div class="mb-3">
          <label for="nitrogen" class="form-label">Nitrogen</label>
          <input
            type="text"
            class="form-control"
            id="nitrogen"
            name="nitrogen"
          />
          <div id="emailHelp" class="form-text">
            Specify the Nitrogen content of the soil over which you are willing
            to grow the crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="phosphorus" class="form-label">Phosphorus</label>
          <input
            type="text"
            class="form-control"
            id="phosphorus"
            name="phosphorus"
          />
          <div id="emailHelp" class="form-text">
            Specify the Phosphorus content of the soil over which you are
            willing to grow the crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="potassium" class="form-label">Potassium</label>
          <input
            type="text"
            class="form-control"
            id="potassium"
            name="potassium"
          />
          <div id="emailHelp" class="form-text">
            Specify the Potassium content of the soil over which you are willing
            to grow the crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="temperature" class="form-label">Temperature</label>
          <input
            type="text"
            class="form-control"
            id="temperature"
            name="temperature"
          />
          <div id="emailHelp" class="form-text">
            Specify the Temperature of the soil and weather over which you are
            willing to grow the crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="humidity" class="form-label">Humidity</label>
          <input
            type="text"
            class="form-control"
            id="humidity"
            name="humidity"
          />
          <div id="emailHelp" class="form-text">
            Specify the Humidity of the soil and weather over which you are
            willing to grow the crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="ph" class="form-label">pH</label>
          <input type="text" class="form-control" id="ph" name="ph" />
          <div id="emailHelp" class="form-text">
            Specify the pH of the soil over which you are willing to grow the
            crops.
          </div>
        </div>
        <div class="mb-3">
          <label for="rainfall" class="form-label">Rainfall</label>
          <input
            type="text"
            class="form-control"
            id="rainfall"
            name="rainfall"
          />
          <div id="emailHelp" class="form-text">
            Specify the rainfall level of the soil where you are willing to grow
            the crops.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
        {% if crop %}
        <div class="alert alert-success" role="alert">
          {{crop}} is the best crop suitable for this land!
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock content %}
