<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />

    <title>AgroAI</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <!-- left side menu  -->
        <div class="left-side-menu">
          <div class="logo" style="width: 5px; height: 120px">
            <a href="#">
              <img src="../css/AgroAI-logo (1).png" alt="" />
            </a>
          </div>

          <div class="sub-menu">
            <a href="#">
              <li>Home</li>
            </a>
            <a href="#features">
              <li>Features</li>
            </a>
            <a href="#shop">
              <li>Shop</li>
            </a>
            <a href="#team">
              <li>Team</li>
            </a>
            <a href="#contact">
              <li>Contact</li>
            </a>
          </div>
        </div>

        <!-- right side menu  -->
        <div class="right-side-menu">
          <div class="sub-menu">
            <a href="{{ url_for('logout') }}">
              <button>Logout</button>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <section class="main-hero-section">
      <!-- left side code   -->
      <div class="hero-left-side">
        <h1>Precision Farming and Predictive Analysis</h1>
        <p>
          We specialize in precision farming and predictive analysis of crop
          yield, using advanced technologies to optimize production and minimize
          waste for a more sustainable future of farming.
        </p>
      </div>
      <!-- right side code   -->
      <div class="hero-right-side">
        <img src="../css/3411468.jpg" alt="heropageImg" />
      </div>
    </section>

    <section class="common-section" id="section-two">
      <!-- left side of section 2  -->
      <div class="left-side">
        <figure>
          <img src="../css/prediction.png" alt="section2" />
        </figure>
      </div>

      <!-- right side of section 2  -->
      <div class="right-side">
        <h2>Make predictions and enhance Crop Yield</h2>
        <p>
          We provide you with some very amazing features of the application that
          allow us to predict the best suitable crop for our farm, recommends
          fertilizers for them and then resulting crop yield.
        </p>
        <div class="button-group">
          <button class="common-button">
            <a href="#features" style="color: white">get started</a>
          </button>
          <button class="common-button-normal">
            <a href="#how_it_works" style="color: black">how it works</a>
          </button>
        </div>
      </div>
    </section>

    <section class="section-third" id="features">
      <h2>Features</h2>
      <p>
        The application offers a range of features to support precision farming
        and maximize crop yield.
      </p>
      <div class="section-third-task">
        <a href="{{ url_for('crop_predict') }}">
          <div class="task-1">
            <img src="../css/crops.png" alt="icon1" />
            <h3>Crop Recommendation</h3>
            <p>
              Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
              Velit officia consequat
            </p>
          </div>
        </a>

        <a href="{{ url_for('fertilizer_predict') }}">
          <div class="task-2">
            <img src="../css/fertilizers.png" alt="icon1" />
            <h3>Fertilizers Recommendation</h3>
            <p>
              Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
              Susbcribe to ThapaTechncial.
            </p>
          </div>
        </a>

        <a href="{{ url_for('crop_yield_predict') }}">
          <div class="task-3">
            <img src="../css/yield.png" alt="icon1" />
            <h3>Crop Yield Prediction</h3>
            <p>
              Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
              Velit officia consequat
            </p>
          </div>
        </a>
      </div>
    </section>
    ---------------------------------------------------------------------- -->

    <section class="common-section" id="shop">
      <!-- right side of section 2  -->
      <div class="right-side" style="margin-left: 50px">
        <h2>Shop from Us</h2>
        <p>
          We offer a wide range of fertilizers to support healthy and vibrant
          crop growth. Our products are carefully selected and tested to ensure
          maximum efficacy and safety for the environment.
        </p>
        <div class="button-group" style="margin-top: 20px">
          <button
            class="common-button"
            style="background-color: rgb(124, 206, 0)"
          >
            <a href="" style="color: white">Buy Now </a>
          </button>
        </div>
      </div>

      <!-- left side of section 2  -->
      <div class="left-side">
        <img src="../css/shop.png" alt="section2" />
      </div>
    </section>

    <section class="common-section" id="how_it_works">
      <!-- left side of section 2  -->
      <div class="left-side">
        <img src="../css/section5.png" alt="section5" />
      </div>

      <!-- right side of section 2  -->
      <div class="right-side">
        <h2>How It Works</h2>

        <div class="fitness-goals">
          <div class="rule1">
            <h3>
              <i class="fas fa-heart"></i> We will take care of your fitness
              goals
            </h3>
            <p>
              lamet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Track your daily habits
            </p>
          </div>

          <div class="rule2">
            <h3>
              <i class="fas fa-heart"></i> Track your daily habits with water
            </h3>
            <p>
              lamet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Track your daily habits
            </p>
          </div>

          <div class="rule3">
            <h3><i class="fas fa-heart"></i> Track your weight and waist</h3>
            <p>
              lamet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Track your daily habits
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-third" id="team">
      <div>
        <h2>Our Team</h2>
        <p>
          Meet our talented team of experts who are dedicated to creating
          innovative solutions that address the challenges facing farmers today
          and helping them succeed in a rapidly changing world.
        </p>
      </div>
      <div class="section-third-task" style="margin-top: 100px">
        <div
          class="task-1"
          style="
            background: #fff;
            box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
          "
        >
          <img src="../css/sectionIcon1.png" alt="icon1" />
          <h3>Aditya Agrawal</h3>
          <p>
            Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
            Velit officia consequat
          </p>
        </div>

        <div
          class="task-2"
          style="
            background: #fff;
            box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
          "
        >
          <img src="../css/sectionIcon2.png" alt="icon1" />
          <h3>Tiya Bansal</h3>
          <p>
            Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
            Susbcribe to ThapaTechncial.
          </p>
        </div>

        <div class="task-3">
          <img src="../css/sectionIcon3.png" alt="icon1" />
          <h3>Tanya Bharti</h3>
          <p>
            Lamet minim mollit non deserunt ullamco est sit aliq do amet sint.
            Velit officia consequat
          </p>
        </div>
      </div>
    </section>

    <section id="contact">
      <footer>
        <div class="logo-div">
          <div class="logo" style="width: 5px; height: 120px">
            <a href="#">
              <img src="../css/AgroAI-logo (1).png" alt="" />
            </a>
          </div>
          <p>@Mini Project 2023</p>
        </div>

        <div class="footer-menu">
          <div class="footer-div-2">
            <h4>Features</h4>
            <a href="#"><li>Crop Recommendation</li></a>
            <a href="#"><li>Fertilizers Recommendation</li></a>
            <a href=""><li>Crop Yield Prediction</li></a>
          </div>

          <div class="footer-div-3">
            <h4>Abouts</h4>
            <a href="#"><li>pricing</li></a>
            <a href="#"><li>pricing</li></a>
          </div>

          <div class="footer-div-5">
            <h4>Get In Touch</h4>
            <a href="#"><li>Questions Or Feedback?</li></a>
            <a href="#"><li>We’ll love to help you</li></a>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
