<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <style></style>
  </head>
  <body>
    <!-- Navbar starts -->
    <section>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">AgroAI</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
            <a
              href="{{ url_for('logout') }}"
              class="btn btn-outline-dark d-flex"
            >
              Logout
            </a>
          </div>
        </div>
      </nav>
    </section>
    <!-- Navbar ends -->

    <!-- Home section starts -->
    <section id="home">
      <div class="container m-5 text-center">
        <h1>Precison Farming and Predictive Analysis of Crop Yield</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
          distinctio dolor optio totam fugiat, doloremque ut aspernatur repellat
          ea sed. Exercitationem porro cumque similique laborum quae. Nam odio
          beatae consequatur inventore, pariatur, odit consectetur ea eos totam
          accusantium fuga illum nesciunt? Fuga iure mollitia tempora
          voluptatum, quos deleniti praesentium laboriosam.
        </p>
        <a href="#features">
          <button type="button" class="btn btn-dark">Get Started</button>
        </a>
      </div>
    </section>
    <!-- Home section ends -->

    <!-- Features Section starts -->
    <section id="features">
      <div class="container m-5 text-center">
        <h2>Features</h2>
        <div class="row">
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Crop Recommendation</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti vel a voluptatibus facere ipsum placeat laborum
                voluptas neque alias, quae, sit ad illum suscipit in obcaecati
                incidunt amet. Laborum, neque.
              </p>
              <a href="{{ url_for('crop_predict') }}" class="btn btn-dark"
                >Get Started</a
              >
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Fertilizers Recommendation</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                incidunt deleniti dolore, amet eum minima quos quasi laborum
                maxime fugit commodi nemo aliquam sapiente corporis rerum enim
                repellendus harum reprehenderit.
              </p>
              <a href="{{ url_for('fertilizer_predict') }}" class="btn btn-dark"
                >Get Started</a
              >
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Crop Yield Prediction</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                sapiente cumque delectus atque recusandae culpa, adipisci vel
                tenetur sit? Officiis, quis maiores autem perferendis deleniti
                adipisci hic ex officia maxime!
              </p>
              <a href="{{ url_for('crop_yield_predict') }}" class="btn btn-dark"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section ends -->

    <!-- How it works starts-->
    <section>
      <div class="container text-center">
        <h2>How It Works?</h2>
        <div class="row">
          <div class="col-sm">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              minus alias rerum aspernatur culpa labore similique, neque odit
              est cupiditate porro. Labore nemo non dolorum dignissimos natus,
              blanditiis debitis voluptate ex modi consequatur illo quia, quas
              ducimus nostrum saepe in obcaecati quisquam rem eos harum maxime
              delectus, accusantium ipsum laboriosam?
            </p>
          </div>
          <div class="col-sm">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita
              doloribus ipsam provident totam, quisquam, necessitatibus beatae
              aspernatur dolorum iusto maxime voluptatem ipsum esse qui amet,
              nemo consectetur repellat fugiat et perferendis quaerat delectus
              ducimus assumenda eos. Cupiditate aperiam veniam fuga quos facilis
              quidem, eum odit minima et incidunt, harum vitae!
            </p>
          </div>
          <div class="col-sm">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              debitis at fugit ipsa recusandae ipsam esse laborum non, excepturi
              soluta? Dolores delectus, omnis voluptas corrupti obcaecati iusto
              molestias fugit, laudantium consequatur voluptatum esse tempore!
              Porro voluptatibus corrupti magni possimus facere vitae, assumenda
              sint, reiciendis perferendis neque obcaecati sed quidem harum?
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- How it works ends -->

    <!-- Shop Section starts -->
    <section id="shop">
      <div class="container m-5">
        <h2>Shop Now!</h2>
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Buy Fertilizers</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
              libero mollitia temporibus illum adipisci praesentium nemo non,
              neque sequi! A distinctio earum dicta neque qui ratione, laborum
              magni quod minus?
            </p>
            <a href="#" class="btn btn-dark">Buy Now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- shop section ends -->

    <!-- team section starts -->
    <section id="team">
      <div class="container m-5 text-center">
        <h2>Meet the Team</h2>
        <div class="row">
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Aditya Agrawal</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti vel a voluptatibus facere ipsum placeat laborum
                voluptas neque alias, quae, sit ad illum suscipit in obcaecati
                incidunt amet. Laborum, neque.
              </p>
              <a
                href="https://www.linkedin.com/in/aditya-agrawal-87ab6a200/"
                class="btn btn-dark"
                >Connect 🚀</a
              >
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Tiya Bansal</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                incidunt deleniti dolore, amet eum minima quos quasi laborum
                maxime fugit commodi nemo aliquam sapiente corporis rerum enim
                repellendus harum reprehenderit.
              </p>
              <a
                href="https://twitter.com/tiyatwts"
                class="btn btn-dark"
                target="_blank"
                >Connect 🚀</a
              >
            </div>
          </div>
          <div class="col-sm card" style="width: 18rem">
            <img src="/assets/farm.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Tanya Bharti</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                sapiente cumque delectus atque recusandae culpa, adipisci vel
                tenetur sit? Officiis, quis maiores autem perferendis deleniti
                adipisci hic ex officia maxime!
              </p>
              <a href="#" class="btn btn-dark">Connect 🚀</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- team section ends -->

    <!-- contact section starts -->
    <section id="contact">
      <!-- Footer -->
      <footer
        class="text-center text-lg-start text-dark"
        style="background-color: #eceff1"
      >
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-between p-4 text-white"
          style="background-color: black"
        >
          <!-- Left -->
          <div class="me-5">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->

          <!-- Right -->
          <div>
            <a href="" class="text-white me-4">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold">AgroAI</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  Here you can use rows and columns to organize your footer
                  content. Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit.
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Products</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  <a href="#!" class="text-dark">Crop Recommendation</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Fertilizers Recommendation</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Shop Fertilizers</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Crop Yield Prediction</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Useful links</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>
                  <a href="#!" class="text-dark">Your Account</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Become an Affiliate</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Shipping Rates</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Help</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/"
            >MDBootstrap.com</a
          >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
    <!-- contact section ends -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
